In [16]:
#Import the pandas library.
import pandas as pd

In [17]:
#Set the wikipedia url for scraping the data.
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [18]:
#Use pandas read_html method to read data from the url that specified above. In this case, we read the first data set 
#and saved it to df
webdata = pd.read_html(url, header=0)
df = webdata[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [19]:
#Clean up the data, ignore the data if Borough is not assigned.
df = df[df.Borough!='Not assigned']
df.sort_values(by='Borough', inplace=True)
df.groupby(by='Borough').size()
#df

C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Scarborough         17
West Toronto         6
York                 5
dtype: int64

In [20]:
#Display the number of rows of the dataframe which is 103 rows and 3 columns
df.shape

(103, 3)

In [21]:
#Read the geographical coordinates from the csv file.

lat_lng_coords = pd.read_csv('Geospatial_Coordinates.csv')
lat_lng_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
#Merge the original dataframe with the csv file based on the Postal Code column.
df_merge = df.merge(lat_lng_coords, on = 'Postal Code')

In [23]:
df_merge.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M4V,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049
1,M4S,Central Toronto,Davisville,43.704324,-79.388790
2,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
3,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park",43.696948,-79.411307
4,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678

In [24]:
#After merge the dataframe, number of records reminds the same but 2 extra columns.
df_merge.shape

(103, 5)